@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');


body {
    margin: 0;
    margin-left: 20%;
    width: 60%;
    background: #E5E5E5 !important;
    font-family: 'Play', sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

#reward{
    width: 81px;
}

.lds-circle {
    display: flex;
    justify-content: center;
    transform: translateZ(1px);
    margin: 20px;
    align-items: center;
}

    .lds-circle > div {
        display: inline-block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        background: gold;
        animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

.blazored-modal-container {
    width: 60% !important;
}

@keyframes lds-circle {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }

    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }

    100% {
        transform: rotateY(3600deg);
    }
}

@media (max-width:800px) {
    body {
        width: 100%;
        margin: 0;
    }
    .blazored-modal-container {
        width: 100% !important;
    }
}

